*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pexels-photo-3721941.jpeg);
    background-size: cover;
    background-position: relative;
   
}
.container{
    width:100%;
}
.navbar{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px ;
    font-family: 'Poppins', sans-serif;;
}
.navbar ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: cyan;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.navbar ul li a:hover{
    color: white;
}
h1{
    color: cyan;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    animation-name: h1;
    animation-direction: backwards;
   animation-duration: 3.5s;
}
@keyframes h1{
    from{
        margin-left: 200px;
    }
    to{
    margin-left: 0px;
    }
}
        .content{
            font-size: 30px;
            border-top: 2px solid cyan;
            border-bottom: 2px solid cyan;
           border-radius: 10px;
           border-right: 2px solid black;
           border-left: 2px solid black;
            font-family:sans-serif;  
            margin-left: 80px;  
            margin-right: 80px;
            animation-name: container;
    animation-duration: 3.5s;
    animation-direction: backwards;
        }
        @keyframes container{
            from{
                margin-left: 0px;
                margin-right: 0px;

            }
            to{
                margin-left:80px;
                margin-right: 80px;
            }
        }
        .content ul li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            color: mintcream;
            font-size: 15px;
    font-family: sans-serif;
    
        }
        
        a{
            
            font-size: 25px;
            text-decoration: none;
            color: cyan;
            
        }
        a:hover{
            color: white;
        }
@media screen and (max-width: 500px) {
           .content{
            margin-left: 15px;
            margin-right: 15px;
            animation-name: container;
            animation-duration: 3.5s;
            animation-direction: backwards;
           }
           @keyframes container{
            from{
                margin-left: 0px;
                margin-right: 0px;

            }
            to{
                margin-left:15;
                margin-right: 15px;
            }
        }
        }
        
